<%= form_with(model: [:admin, student]) do |form| %>

  <% if @student.errors.any? %>
    <% @student.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control form-control-lg" %>
  </div>

  <div>
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :permanent_address %>
    <%= form.text_field :permanent_address, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :local_address %>
    <%= form.text_field :local_address, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :permanent_contact_number %>
    <%= form.text_field :permanent_contact_number, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :alternate_contact_number %>
    <%= form.text_field :alternate_contact_number, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :profile_image %><br>
    <%= form.file_field :profile_image %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary btn-lg" %>
  </div>
<% end %>