<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "user" }) do |f| %>
            <%= render "admin_users/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", placeholder: "Enter Email" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Enter Password (#{@minimum_password_length} characters minimum)" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Repeat Password" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-primary btn-user btn-block" %>
            </div>
          <% end %>
          <hr>
          <div class="text-center">
            <%= render "admin_users/shared/links" %>
          </div>
          <a href="login.html" class="btn btn-primary btn-user btn-block">
            Register Account
          </a>
          <hr>
          <a href="index.html" class="btn btn-google btn-user btn-block">
            <i class="fab fa-google fa-fw"></i> Register with Google
          </a>
          <a href="index.html" class="btn btn-facebook btn-user btn-block">
            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
          </a>
          </form>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
