<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
      <div class="col-lg-6">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "user"}) do |f| %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", label: "Enter Email Address" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-user", label: "Enter Your Password" %>
            </div>

            <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <div class="custom-control custom-checkbox small">
                <%= f.check_box :remember_me, class: "custom-control-input", id: "admin_user_remember_me" %>
                <%= f.label :remember_me, class: "custom-control-label", for: "admin_user_remember_me" %>
              </div>
            </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-primary btn-user btn-block " %>
            </div>
          <% end %>
          <%= render "admin_users/shared/links" %>
          <hr>
          <a href="index.html" class="btn btn-google btn-user btn-block">
            <i class="fab fa-google fa-fw"></i> Login with Google
          </a>
          <a href="index.html" class="btn btn-facebook btn-user btn-block">
            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
          </a>
        </div>
      </div>
    </div>
  </div>
</div>