<div class="col-lg-12 mb-5">
  <div class="card rounded-0 shadow">
    <div class="card-body">
      <p>
        <strong>Name:</strong>
        <%= @course.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @course.description %>
      </p>

      <%= link_to 'Edit', edit_admin_course_path(@course), class: "btn btn-primary btn-lg" %> 
      <%= link_to 'Back', admin_courses_path, class: "btn btn-outline-primary btn-lg" %>
    </div>
  </div>
</div>
